{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Gerant</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Login</th>
                <td>{{ entity.login }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{{ entity.datenaissance|date("d-m-Y") }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entity.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entity.telephone }}</td>
            </tr>
           
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('gerant') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('gerant_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
